
<h1 class="section"> OTHER PLAYERS </h1>
{% include '/home/_others_cards.html.twig' %}
<h1 class="section"> MY CARDS </h1>
{% include '/home/_perso_cards.html.twig' %}
{% include '/home/_game-distrib-one-card.html.twig' %}


<div class="container-fluid">

    <div class="row">

        <div class="col">
            <div class="card-container">
                <h3> In deck : {{ count_cards_in_deck }} </h3>
                <div class="hidden-card-background">
                    <img class="hidden-card" alt="">
                </div>
                <form action="{{ path("play_deck_card") }}" method="post">
                    <input type="hidden" name="card-to-play" value="from-deck-to-play">
                    <button type="submit">PLAY</button>
                </form>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card-container">
                {% for c in cards %}
                    {% if c.isVisible and not c.user %}
                        <div>
                            <img class="visible-card" src="{{ c.image }}" alt="">
                            <form class="d-flex justify-content-center" action="{{ path("take_card") }}" method="post">
                                <input type="hidden" name="card-to-take" value="{{ c.id }}">
                                <button type="submit">Take Card</button>
                            </form>
                        </div>

                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card-container flex-column">
                <a class="btn btn-danger" href="{{ path("discard_all_cards") }}">Discard into global</a>
                <a class="btn btn-info" href="{{ path("discard_cards_personal") }}">Discard into my pile</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">


            <div class="card-container">
                <h3> Discarded deck : {{ count_cards_in_discard_deck }} </h3>
                <div class="hidden-card-background">
                    <img class="hidden-card" alt="">
                </div>

                <a class="btn btn-secondary" href="{{ path("put_back_discarded") }}">PUT ALL BACK TO DECK</a>
            </div>

        </div>
    </div>


    <!--
<div class="card-container">
    <h3> Played cards </h3>
    {# {%  if last_played_card %}
       <img src="{{ last_played_card.image }}" alt="">
    {% endif %} #}
</div>
-->

</div>