<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card-container">
                <div class="hidden-card-background">
                    <img id="deck-img" class="hidden-card" alt="">
                    <div class="card bg-transparent text-white">
                        <img src="{{ asset('build/images/cardback.png') }}" class="card-img" alt="">
                        <div class="card-img-overlay">
                            <div class="buttons">
                                {% if count_cards_in_deck == 0 %}
                                    {% if count_cards_in_discard_deck == 0 %}
                                        <h3>No more cards available!</h3>
                                    {% else %}
                                    <a class="btn btn-secondary" href="{{ path("put_back_discarded") }}"><i class="fas fa-sync-alt"></i></a>
                                    {% endif %}
                                {% else %}
                                    <a class="btn btn-dark" href="{{ path("distribute_one_card") }}"><i class="fas fa-hand-paper"></i></a>
                                    <div class="mid">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#hand">
                                            <i class="fas fa-expand-arrows-alt"></i>
                                        </button>
                                        <h3>{{ count_cards_in_deck }} </h3>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#personal-discard">
                                            <i class="fas fa-inbox"></i>
                                        </button>
                                    </div>
                                    <form action="{{ path("play_deck_card") }}" method="post">
                                        <input type="hidden" name="card-to-play" value="from-deck-to-play">
                                        <button type="submit"><i class="fas fa-arrow-down"></i></button>
                                    </form>
                                {% endif %}
                            </div>
                            {% include '/home/_game_distrib_hand.html.twig' %}
                            {% include '/home/_game_distrib_discard.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card-container">
                {% for c in cards %}
                    {% if c.isVisible and not c.user %}
                        <div class="card-to-gliss">
                            <img class="visible-card visible-card-in-play" src="{{ c.image }}" alt="">
                            <form class="d-flex justify-content-center" action="{{ path("take_card") }}" method="post">
                                <input type="hidden" name="card-to-take" value="{{ c.id }}">
                                <button type="submit"><i class="fas fa-hand-paper"></i></button>

                            </form>

                        </div>

                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-4"></div>
    </div>
    {%  if played_cards_visible > 0 %}
    <div class="row">
        <div class="col">
            <div class="card-container ">
                <a title="Discard in global deck" class="discard-global" href="{{ path("discard_all_cards") }}"><i class="fas fa-trash-alt"></i><i class="fas fa-users"></i></a>
                <a title="Discard in personal deck" class="discard-personal" href="{{ path("discard_cards_personal") }}"><i class="fas fa-trash-alt"></i> <i class="fas fa-user"></i></a>
            </div>
        </div>
    </div>

    {%  endif %}
    

    <!--
<div class="card-container">
    <h3> Played cards </h3>
    {# {%  if last_played_card %}
       <img src="{{ last_played_card.image }}" alt="">
    {% endif %} #}
</div>
-->

</div>