<div>

    {% for p in players %}
    <div class="other-players {{ p.username }}">
        {% if p.id != app.user.id %}
            <h3>{{ p.username }}</h3>
            <div class="card-container">
                <div>
                    <h3>Cards in hands</h3>
                    {% for c in cards %}
                        {% if c.user %}
                            {% if c.user.id == p.id and c.isVisible == 0 %}
                                <div class="hidden-card-background">
                                    <img class="hidden-card" src="{{ c.image }}" alt="">
                                </div>
                                <form action="{{ path("take_card") }}" method="post">
                                    <input type="hidden" name="card-to-take" value="{{ c.id }}">
                                    <button type="submit">Take Card</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>

                <div>
                    <h3>Cards visible for everyone</h3>
                    {% for c in cards %}
                        {% if c.user %}
                            {% if c.user.id == p.id and c.isVisible == 1 %}
                                <div class="hidden-card-background">
                                    <img class="visible-card" src="{{ c.image }}" alt="">
                                </div>
                                <form action="{{ path("take_card") }}" method="post">
                                    <input type="hidden" name="card-to-take" value="{{ c.id }}">
                                    <button type="submit">Take Card</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>

                <div>
                    <h3>Cards in personal discard</h3>
                    <div class="hidden-card-background">
                        <img class="hidden-card" src="" alt="">
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {% endfor %}

</div>