<div class="card-container my-cards">
    <h3> {{ app.user.username }} </h3>
    <div>
        {% for c in cards %}
            {%  if c.user %}

                {%  if c.user.id == app.user.id and c.isVisible == 0 %}
                    <img src="{{ c.image }}" alt="">

                    <form action="{{ path("play_card") }}" method="post">
                        <input type="hidden" name="card-to-play" value="{{ c.id }}">
                        <button type="submit">PLAY</button>
                    </form>
                {% endif %}
            {% endif %}
        {% endfor %}
        <br>

        <h3>I show my cards to others</h3>
        <form action="{{ path("show_my_cards") }}" method="post">
            <input type="hidden" name="card-to-play" >
            <button type="submit">SHOW</button>
        </form>
    </div>


    <div>
        <h3> Personal discarded cards </h3>

        <div class="hidden-card-background">
            <img class="hidden-card" src="" alt="">
        </div>

        <form action="{{ path("show_one_discarded_personal_card") }}" method="post">
            <input type="hidden" name="card-to-show">
            <button type="submit">Show Discarded Card</button>
        </form>

        <form action="{{ path("show_last_discarded_personal_card") }}" method="post">
            <input type="hidden" name="card-to-show">
            <button type="submit">Show Last Discarded Card</button>
        </form>
    </div>


    <div>
        <h3> Personal cards to show in front of me </h3>
        {% for c in cards %}
            {%  if c.user %}
                {%  if c.user.id == app.user.id and c.isVisible == 1 %}
                    <div class="hidden-card-background">
                        <img src="{{ c.image }}" alt="">
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        <form action="{{ path("discard_my_showed_cards") }}" method="post">
            <input type="hidden" name="cards-to-discard">
            <button type="submit">Discard my cards to global</button>
        </form>
        <form action="{{ path("discard_my_showed_cards_in_personal_discard") }}" method="post">
            <input type="hidden" name="cards-to-discard">
            <button type="submit">Discard my cards to personal</button>
        </form>
    </div>


</div>