<div class="card-container my-cards">


    <div class="cards-in-my-hands">
        {% for c in cards %}
            {%  if c.user %}
                {%  if c.user.id == app.user.id and c.isVisible == 0 %}
                    <div class="card-to-gliss">

                    <img class="my-visible-card-in-hand" src="{{ c.image }}" alt="">
                        <form action="{{ path("play_card") }}" method="post">
                            <input type="hidden" name="card-to-play" value="{{ c.id }}">
                            <button class="green-button" title="Play card" type="submit"><i class="fa fa-arrow-up" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>



    {% if count_personal_discard > 0 %}
    <div class="pile-personal-discard d-flex">
       <div class="hidden-card-background">
            <img class="hidden-card" src="" alt="">
        </div>
<div>
        <form action="{{ path("show_one_discarded_personal_card") }}" method="post">
            <input type="hidden" name="card-to-show">
            <button class="open-eye-button-discard blue-b" type="submit"><i class="far fa-eye"></i> All </button>
        </form>
        <form action="{{ path("show_last_discarded_personal_card") }}" method="post">
            <input type="hidden" name="card-to-show">
            <button class="open-eye-button-discard green-b" type="submit"><i class="fas fa-arrow-right"></i> </button>
        </form>
</div>
</div>
    {% endif %}

    <div class="my-cards-on-table">

        {% if my_card_in_hands > 0 %}
            <div class="eye-button">
                {% if my_card_on_table > 0 %}
                    <div class="discard-container">
                        <form action="{{ path("discard_my_showed_cards") }}" method="post">
                            <input type="hidden" name="cards-to-discard">
                            <button title="Discard in global deck" class="discard-global" type="submit"><i class="fas fa-trash-alt"></i><i class="fas fa-users"></i></button>
                        </form>
                        <form action="{{ path("discard_my_showed_cards_in_personal_discard") }}" method="post">
                            <input type="hidden" name="cards-to-discard">
                            <button title="Discard in personal deck" class="discard-personal"  type="submit"><i class="fas fa-trash-alt"></i> <i class="fas fa-user"></i></button>
                        </form>
                    </div>
                {% endif %}

                <form action="{{ path("show_my_cards") }}" method="post">
                    <input type="hidden" name="card-to-play" >
                    <button   title="Show my cards"  class="closed-eye-button" type="submit"><i class="fas fa-eye-slash"></i></button>
                </form>
            </div>
        {% endif %}

        {% if my_card_on_table > 0 %}
            <div class="eye-button">
                {% if my_card_on_table > 0 %}
                    <div class="discard-container">
                        <form action="{{ path("discard_my_showed_cards") }}" method="post">
                            <input type="hidden" name="cards-to-discard">
                            <button title="Discard in global deck" class="discard-global" type="submit"><i class="fas fa-trash-alt"></i><i class="fas fa-users"></i></button>
                        </form>
                        <form action="{{ path("discard_my_showed_cards_in_personal_discard") }}" method="post">
                            <input type="hidden" name="cards-to-discard">
                            <button title="Discard in personal deck" class="discard-personal"  type="submit"><i class="fas fa-trash-alt"></i> <i class="fas fa-user"></i></button>
                        </form>
                    </div>
                {% endif %}


                <form action="{{ path("take_back_my_cards") }}" method="post">
                    <input type="hidden" name="card-to-play" >
                    <button title="Take back my cards" class="open-eye-button" type="submit"><i class="far fa-eye"></i></button>
                </form>
            </div>

        {% endif %}

        {% for c in cards %}
            {%  if c.user %}
                {%  if c.user.id == app.user.id and c.isVisible == 1 %}
                    <div class="card-to-gliss">
                        <img class="visible-card" src="{{ c.image }}" alt="">
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}




    </div>
</div>